.sect2:not(:last-child) {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(134, 150, 165);
}

li > a.sc-current-element:before {
    content: "";
    left: 0;
    position: absolute;
    width: 5px;
    height: 1.5em;
    background-color: #ffa500;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}

.github-ribbon {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    border: 0;
}
@media only screen {
    .github-ribbon{
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .github-ribbon{
        display: block;
    }
}